[submodule "vendor/Chart.js"]
	path = vendor/Chart.js
	url = https://github.com/nnnick/Chart.js.git
[submodule "vendor/spyc"]
	path = vendor/spyc
	url = https://github.com/mustangostang/spyc.git
[submodule "vendor/jquery-ui-touch-punch"]
	path = vendor/jquery-ui-touch-punch
	url = https://github.com/furf/jquery-ui-touch-punch.git
