/*!
 * Batch screen.
 *
 * @handle wpametu-batch-helper
 * @deps jquery-ui-mp6
 */

@import "variables";
@import "animations";

#batch-result {
	opacity: .5;
	transition: opacity 1s;
	background-color: #222;
	font-family: monospace;
	padding: 1em;

	h3 {
		color: #fff;
	}

	.console {
		color: #fff;
		padding-top: 1em;
		border-top: #444 1px solid;

		.success {
			font-weight: $font-weight-bold;
			color: #4aa535;
		}

		.error {
			font-weight: $font-weight-bold;
			color: #c20601;
		}
	}
}


#batch-form {
	padding: 1em;

	.loader {
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: rgba(255, 255, 255, 0.4);

		> div {
			display: block;
			height: 60px;
			width: 60px;
			position: absolute;
			top: 50%;
			left: 50%;
			color: #ddd;
			margin-left: -30px;
			margin-top: -30px;
			@include animation(rotation linear 2s infinite);

			.dashicons {
				width: 60px;
				height: 60px;
				font-size: 60px;
			}
		}
	}

	// List
	ol {
		margin-left: 0;
		border-top: 1px solid #ddd;

		li {
			position: relative;
			list-style: none;
			border-bottom: 1px solid #ddd;
			margin-bottom: 0;
		}

		label {
			display: block;
			position: relative;
			background-color: #f1f1f1;
			border-left: 5px solid #f1f1f1;
			padding: 1em;

			&:hover {
				background-color: #f9f9f9;
				border-left-color: #2e6e9e;
			}

			.dashicons {
				color: #999;
			}
		}

		input[type="radio"] {
			position: absolute;
			left: 50%;
			top: 50%;
		}

		input:checked + label {
			background-color: #fff;
			$green: #5da564;
			border-left-color: $green;

			.dashicons {
				color: $green;
			}
		}

		strong {
			font-size: 1.4em;
		}

		small {
			margin-left: 0.5em;
			color: #ccc;
		}

		.description {
			display: block;
			line-height: 1.4;
			margin: 0.5em 0;
		}

		.executed {
			display: block;
			text-align: right;
			color: #999;
			font-style: italic;

			&.not-yet {
				color: #ccc;
			}
		}
	}

	// Loading
	&.loading {
		position: relative;

		+ #batch-result {
			opacity: 1;
		}

		.loader {
			display: block;
		}
	}
}
